*~
*.orig
*.rej
*.pyc

debian/autopkgtest
debian/autopkgtest-xenlvm
debian/*.debhelper
debian/tmp
debian/files
debian/copyright

debian/*.debhelper.log
debian/*.substvars

xen/sed-readconfig
xen/readconfig
hosts/chinstrap/webpage
hosts/chinstrap/suppressions
hosts/chinstrap/suppressions-lock
hosts/chinstrap/suppressions.new
hosts/magrathea/openbugs
hosts/magrathea/openbugs-lock
hosts/magrathea/openbugs.new
hosts/*/cronjob-lock
hosts/*/esummary
hosts/*/swap
hosts/*/tmp
hosts/*/var

runner/tmp
